.side-bar {
  background-color: #9D3C3D;
  min-width: 260px;
}

.header-text {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.sidebar-item-text {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: "84C9E4";
}